@{
    ViewData["Title"] = "Registro";
}

<h3> Registrarse como</h3>
     
<br>
<a asp-controller="Home" asp-action="Register" class="btn-primary">Cliente</a>
<br>
<a asp-controller="Home" asp-action="RegisterCompany" class="btn-primary">Compañia</a>




